<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- command 패키지안의 클래스들 이름을 약어로 사용하기 위해 선언 -->
<configuration>
	<typeAliases>
		<package name="com.naman.common.util"/>
		<package name="com.naman.command"/>
	</typeAliases>
</configuration>